.layout {
  display: grid;
  grid-template-areas: "recent-posts tags";
  grid-template-columns: minmax(auto, 65ch) minmax(auto, 25ch);
  max-width: 1100px;
  width: 100%;
}

@media (max-width: 768px) {
  .layout {
    grid-template-areas: "recent-posts";
    grid-template-columns: 1fr;
  }
}

.recentPosts {
  grid-area: recent-posts;
}

.tags {
  grid-area: tags;
}
@media (max-width: 768px) {
  .tags {
    display: none;
  }
}
